* {
    margin: 0em;
    padding: 0em;
}

@font-face {
    font-family: comfortaa;
    src: url("../fonts/comfortaa.ttf") format("truetype"),
}

.Frame {
    overflow: hidden;
    
    font-family: comfortaa;

    background-color: #EEEEEE;
    background-color: #AD343E; // sweet brown red
    background-color: #272727; // raisin black
    background-color: #44355B; // pineapple purple
    background-color: #31263E; // dark purple
    background-color: #009FB7; // bondi blue
    background-color: #B37BA4; // opera mauve pink
    background-color: #D99AC5; // ligh medium orchid pink
    background-color: #1E3F20; // cal poly pomona green
    background-color: #EE5622; // flame red
}

.Title {
    top: 0em;
    left: 0em;
    width: 50%;
    bottom: 0em;
    position: absolute;

    text-align: center;
    line-height: 3em;
    color: #EEEEEE;
    font-weight: bold;
}

.Emojis {
    top: 0em;
    right: 0em;
    bottom: 0em;
    width: 50%;
    line-height: 0.7em;
    position: absolute;
    text-align: right;

    .Emoji {
        width: 1em;
        height: 1em;
        display: inline-block;

        .Image {
            width: 1em;
            height: 1em;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}
